<div class="card-payement" >
  <%= form_tag yearly_payments_path do %>
    <%= image_tag('bag', class:"payement-bag") %> <br/> <br/>
      <h3 >Vous avez choisi le payement annuel :</h3>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
        <br/>
        <label class="amount">
        	<ul>
        		<li>Accès en illimité à votre dashboard</li>
        		<li>Préparation des menus à l'avance</li>
        		<li>Vision globale des commandes des élèves</li>
        		<li>Accès aux statistiques de préférences alimentaires</li>
        	</ul>

          <h5 class="montant"><strong>Montant total : <%= @amount %> €</strong></h5>
        </label><br/>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="S'abonner annuellement à Quanttine"
              data-amount="<%= @amount * 100 %>"
              data-locale="auto"></script>
    <% end %>
</div>
<%= render 'home/footer' %>