<%= render 'layouts/colored_header' %>
<div id="menu-of-the-day-wrapper">
  <h1>Au menu aujourd'hui : </h1>

  <%= form_with(model: @user_meal, url: [@user, @profile, @user_meal], local: true)  do |f| %>

  <br><br>
  <h3>Entrées</h3>
  <div class="category-wrapper">
    <% @starters.each do |starter|%>
    <div class="starter-choices">
     <%= f.label :starter_choice, "", :value => starter.id do %>
     <%= f.radio_button :starter_choice, starter.id %>
     <div class="meal-detail">
      <div class="card">
        <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
        <div class="card-body">
          <h5 class="meal-description card-title"><%= starter.food_supply.name %></h5>
          <p class="card-text">Des infos présentant le plat et la recette, brievement. Plus d'info sont dispo (AJAAAAX) via le bouton ci-dessous comme les ingrédients et les allergènes présents.</p>
          <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>

<h3>Plats principaux</h3>
<div class="category-wrapper">
  <% @main_courses.each do |main_course|%>
  <div class="main-course-choices">
    <div class="meal-detail">
      <%= f.label :main_course %>
      <%= f.radio_button :main_course_choice, main_course.id %>
      <div class="card">
        <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
        <div class="card-body">
          <h5 class="meal-description card-title"><%= main_course.food_supply.name %> et <%= @sides.sample.food_supply.name %> </h5>
          <p class="card-text">Des infos présentant le plat et la recette, brievement. Plus d'info sont dispo</p>
          <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h3>Desserts</h3>
<div class="category-wrapper">
  <% @desserts.each do |dessert|%>
  <div class="dessert-choices">
    <div class="meal-detail">
      <%= f.label :dessert %>
      <%= f.radio_button :dessert_choice, dessert.id %>
      <div class="card">
        <img src="https://keldelice-assets.s3.amazonaws.com/attachments/photos/565822/original/oeuf-mayonnaise_2.jpg?1285186398" class="meal-image" >
        <div class="card-body">
          <h5 class="meal-description card-title"><%= dessert.food_supply.name %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-sm btn-primary">Plus d'info</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= f.submit "Submit" %>
<% end %>
</div>
<br><br><br><br>
<%= render 'layouts/footer' %>
