<body>
  <%= render 'layouts/colored_header' %>
  <div id="menu-of-the-day-wrapper">
    <br><br>
    <h3>Récapitulatif du menu choisi </h3>
    <hr>
    <div class="category-wrapper">
      <% @servings.each do |serving|%>
      <div class="serving-choices">
        <div class="meal-detail">
          <div class="card">
            <img src="https://cache.marieclaire.fr/data/photo/w1000_ci/5b/avocats-aux-crevettes.jpg" class="meal-image" >
            <div class="card-body">
              <h5 class="meal-description card-title"><%= serving.food_supply.name %></h5>
              <%= link_to "Plus d'info", " ", class: 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="text-center bottom-button">
     <%= link_to "Supprimer ma commande", user_profile_user_meal_path(@user, @profile, params[:id]), class: "btn btn-danger", method: :DELETE %>
     <%= link_to "Modifier ma commande", edit_user_profile_user_meal_path(@user, @profile, params[:id]), class: "btn btn-info"%>
   </div>
 </div>
 <%= render 'home/footer' %>
</body>
