<%= render 'layouts/colored_header' %>
<div class="container-flex">
	<div class="container mt-5 mb-5">
		<div class="row">
			<div class="col-12">
				<div class="card" id="card-profile">
					<div class="card-body">
						<div class="card-title mb-4">
							<div class="d-flex justify-content-start pt-4 pl-4">
								<div class="image-container">				
									<div class="edit-pictures">
										<div class="user-photo" >
											<% if @profile.avatar.attached? %>
											<%= image_tag @profile.resized_avatar, alt: 'avatar', class: "avatar" %>
											<%= form_tag user_avatars_path, multipart: true do %>
											<br />
											<span class="btn btn-outline-primary btn-file">
												Choisir une image
												<%= file_field_tag :avatar, :class =>"form-control-file choose", onchange: 'this.form.submit();' %>
											</span>
											<% end %>
											<% else %>
											<div class="m-5">
												<p class="ml-2">Pas d'avatar choisi</p>
												<%= form_tag user_avatars_path(@profile), multipart: true do %>
												<br />
												<span class="btn btn-outline-primary btn-file">
													Choisir une image
													<%= file_field_tag :avatar, :class =>"form-control", onchange: 'this.form.submit();' %><br>
												</span>
											</div>
											<% end %>
											<% end %>
										</div>
									</div>
								</div>
								<div class="userData ml-3">
									<h2 class="d-block" style="font-size: 1.5rem; font-weight: bold"><%=  @user.first_name %> <%= @user.last_name %></h2>
									<%= link_to 'Choisir mon menu', new_user_profile_user_meal_path(@user.id, @profile.id), class:"btn mr-2 choix-menu" %>
									<%= link_to 'Editer', edit_user_registration_path, class:"btn btn-outline-primary mr-2",'data-toggle' => "modal", 'data-target' => "#modalEdit" %>
									<%= link_to 'Voir mon QR code', edit_user_registration_path, class:"btn btn-outline-secondary mr-2", 'data-toggle' => "modal", 'data-target' => "#qr_code" %>
								</div>
								<div class="ml-auto">
									<input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-12">
								<ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Informations</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#preferences" role="tab" aria-controls="connectedServices" aria-selected="false">Préférences alimentaires</a>
									</li>
								</ul>
								<div class="tab-content ml-1" id="myTabContent">
									<div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">


										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Prénom</label>
											</div>
											<div class="col-md-8 col-6">
												<%= @user.first_name %>
											</div>
										</div>
										<hr />

										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Nom</label>
											</div>
											<div class="col-md-8 col-6">
												<%= @user.last_name %>
											</div>
										</div>
										<hr />

										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Email</label>
											</div>
											<div class="col-md-8 col-6">
												<%= @user.email %>
											</div>
										</div>
										<hr />

										<div class="row">
											<div class="col-sm-3 col-md-2 col-5">
												<label style="font-weight:bold;">Ecole</label>
											</div>
											<div class="col-md-8 col-6">
												<%= @user.profile.school.name %>
											</div>
										</div>
										<hr />

									</div>

									<div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="ConnectedServices-tab">
										<div class="choice">
											<%= form_for [@user, @profile] do |f| %>
											<%= f.collection_check_boxes :preference_ids, @preferences.order(:name), :id, :name do |b| %>
											<%= b.check_box %> <%= b.label %> <br>
											<% end %><br />
											<%= f.submit "Envoyer", id:"envoyer", class:"btn btn-primary send" %>
											<% end %>
										</div>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render 'qrcode' %>
<%= render 'users/registrations/edit' %>
