<div id="wrapper">

  <%= render 'admins/side_bar' %>

  <div id="content-wrapper" class="d-flex flex-column">

    <%= render 'admins/top_bar' %>
    <%= render 'partials/flash' %>

    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-grey">Liste des élèves</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Prénom</th>
                  <th>Nom</th>
                  <th>Email</th>
                  <th>Préférences</th>
                </tr>
              </thead>
              <tbody>
                <% @profile.each do |profile| %>
                <tr>
                  <% if is_school_of_admin(profile) %>
                  <td><%= profile.user.first_name %></td>
                  <td><%= profile.user.last_name %></td>
                  <td><%= profile.user.email %></td>
                  <td><%= preferences_list(profile) %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

