<body class="show-user">
  <%= render 'home/header' %>

<div class="space"></div>

  <div class="user-info">
  	<div class="card mb-3">
  <h3 class="card-header"> <div class="content"><%= @user.first_name%> <%= @user.last_name %></div> </h3>
  <div class="card-body row">
  	<div class="col content">
    	<h5 class="card-title">Elève de : 4B</h5>
    	<h6 class="card-subtitle text-muted">Ecole Boris Vian</h6>
	</div>
	<div class="col content">
		<%= @user.email %>
	</div>
  </div>
  <div class="user-photo" >
  </div>
  <div class="">
    <p class="">Choisis tes préférences alimentaires ci-dessous: elles seront transmises à ta cantine.</p>
  </div>

<%= form_tag({ controller: "join_table_profile_preferences", action: "update"}, method: "patch") do %>
<% @preferences.each do |pref| %>
  <%= check_box_tag(:pref, value="1", checked= false) %> <%= label_tag(pref.name) %> <br/>
  <% end %> <br/>
  <%= submit_tag("Submit") %>
<% end %>

 
  <div class="card-body">
    <%= link_to "Editer", edit_user_registration_path, class: "card-link", 'data-toggle' => "modal", 'data-target' => "#modalEdit" %>
    <a href="#" class="card-link">Choisir mon menu</a>
  </div>


</body>