<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Editer mes infos</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-inputs">

          <div class="field form-group">
            <%= f.label :first_name, 'Prénom' %><br />
            <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :first_name, class: "form-control input-field writing", autofocus: true, autocomplete: "first_name" %>
          </div>
          </div>  

          <div class="field form-group">
            <%= f.label :last_name, 'Nom' %><br />
              <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :last_name, class: "form-control input-field writing", autofocus: true, autocomplete: "last_name" %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :email, 'Email' %><br />
            <div class="input-container">
              <i class="fas fa-envelope icon1"></i>
            <%= f.email_field :email, class: "form-control input-field writing", autofocus: true, autocomplete: "email" %>
          </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <%= f.label :password, 'Mot de passe' %> <i>(laisser vide si vous ne voulez pas le changer)</i><br />
            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <%= f.password_field :password, class: "form-control input-field writing", autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation, 'Confirmation du mot de passe' %><br />
            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <%= f.password_field :password_confirmation, class: "form-control input-field writing", autocomplete: "new-password" %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :current_password, 'Mot de passe actuel' %> <i>(Nécessaire pour enregister les changements)</i><br />
            <div class="input-container">
              <i class="fas fa-key icon1"></i>
            <%= f.password_field :current_password, class: "form-control input-field writing", autocomplete: "current-password" %>
          </div>
          </div>

        </div>

        <div class="">
          <div class="form-actions">
            <%= f.submit "Mettre à jour", class: "btn btn-primary send1" %>
          </div>
          <% end %>

          <hr>
          <div class="end-button">
          <p class="unhappy">Pas satisfait?</p> 
          <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Êtes vous sûr?" }, method: :delete, class: "btn btn-outline-danger" %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
