<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Editer mes infos</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-inputs">

          <div class="field form-group">
            <%= f.label :first_name %><br />
            <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :first_name, class: "form-control input-field writing", autofocus: true, autocomplete: "first_name" %>
          </div>
          </div>  

          <div class="field form-group">
            <%= f.label :last_name %><br />
              <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :last_name, class: "form-control input-field writing", autofocus: true, autocomplete: "last_name" %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :email %><br />
            <div class="input-container">
              <i class="fas fa-envelope icon1"></i>
            <%= f.email_field :email, class: "form-control input-field writing", autofocus: true, autocomplete: "email" %>
          </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <%= f.password_field :password, class: "form-control input-field writing", autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :password_confirmation %><br />
            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <%= f.password_field :password_confirmation, class: "form-control input-field writing", autocomplete: "new-password" %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
            <div class="input-container">
              <i class="fas fa-key icon1"></i>
            <%= f.password_field :current_password, class: "form-control input-field writing", autocomplete: "current-password" %>
          </div>
          </div>

        </div>

        <div class="">
          <div class="form-actions">
            <%= f.submit "Update", class: "btn btn-primary send1" %>
          </div>
          <% end %>

          <hr>
          <div class="end-button">
          <p class="unhappy"> Unhappy? </p> 
          <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-outline-danger" %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
