
<div class="card-payement" >
  <%= image_tag('bag', class:"payement-bag") %> <br/> <br/>
    <%= form_tag monthly_payments_path do %>
      <h3>Vous avez choisi le payement mensuel :</h3> <br/>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <ul>
              <li>Accès en illimité à votre dashboard</li>
              <li>Préparation des menus à l'avance</li>
              <li>Vision globale des commandes des élèves</li>
              <li>Accès aux statistiques de préférences alimentaires</li>
            </ul>

            <h5 class="montant"><strong>Montant total : <%= @amount %> €/mois</strong></h5>
          </label> <br/>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="S'abonner mensuellement à Quanttine"
              data-amount="<%= @amount * 100 %>"
              data-locale="auto"></script>
  <% end %>
</div>
<%= render 'home/footer' %>