<div id="wrapper">
  <%= render 'admins/side_bar' %>
  <div id="content-wrapper" class="d-flex flex-column">
    <%= render 'admins/top_bar' %>
    <%= render 'helpers/flash' %>
    <div class="container-fluid">

      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tendances</h1>
      </div>
      <hr>

      <h5 class="m-0 font-weight">Préférences</h5>
      <br />

      <div class="row">

        <% preferences_categories.each do |category|%>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1"><%= category %></div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= preference_count(category) %></div>
                </div>
                <div class="col-auto">
                  <i class="far fa-times-circle fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>

      <hr>

      <h5 class="m-0 font-weight">Aliments</h5>
      <br />

      <div class="row">

        <% food_supply_list.each do |food_name|%>
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-uppercase mb-1"><%= food_name %></div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"><%= what_users_have_ordered(food_name) %></div>
                </div>
                <div class="col-auto">
                  <i class=""></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
