<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="footer-left">

            <h3>Notre équipe</h3>

            <p class="footer-links">
              <%= link_to "Camille", "https://github.com/CamilleRungette/" %>
              ·
              <%= link_to "Ryan", "https://github.com/ryanzidago/" %>
              ·
              <%= link_to "Sylvain", "https://github.com/LKF92/" %>
              ·
              <%= link_to "Romain", "https://github.com/Ramoin/" %>
              ·
              <%= link_to "Steven", "https://github.com/vxnsteven/" %>
            </p>

            <p class="footer-company-name">Quanttine  &copy; 2019</p>
            <br>
          </div>

          <div class="col-md-6 ml-auto">
            <div class="footer-center">
              <div>
                <i class="fa fa-map-marker"></i>
                <p><b>La Felicità</b>, 5 Parvis Alan Turing, 75013 Paris</p>
              </div>

              <div>
                <i class="fa fa-phone"></i>
                <p>01 76 50 66 33</p>
              </div>

              <div>
                <i class="fa fa-envelope"></i>
                <p><%= link_to "hello@quanttine.io", "mailto:hello@quanttine.com" %></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-right">
          <h3>A propos</h3>
          <p class="footer-company-about">
            L'équipe de Quanttine est composée de cinq jeunes développeurs plein de talent. Nous sommes passionnées de technologie, et nous nous définissons comme des innovateurs. Notre diversité et notre état d'esprit nous mènera à bon port dans le grand monde des start-ups.  
          </p>

          <div class="footer-icons">
            <a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-facebook-f"></i></a>
            <a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/CamilleRungette/ChatonPower"><i class="fab fa-github"></i></a>
          </div>

        </div>

      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Quanttine
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>