<nav class="site-navbar py-4 js-sticky-header site-navbar-target navbar-fixed-top banner" role="banner">
  <%= render 'devise/registrations/edit' %>
  <%= render 'devise/registrations/new' %>
  <%= render 'devise/sessions/new' %>

  <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
    <li><%= link_to 'Dashboard', dashboard_index_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalSignup" %></li>
    <li><%= link_to 'Log in', new_user_session_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalLogin" %></li>
    <li><%= link_to 'Edit', edit_user_registration_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalEdit" %></li>
  </ul>
</nav>


