<header class="site-navbar py-4 js-sticky-header site-navbar-target fixed-top" role="banner">

	<div class="container">
		<div class="row align-items-center">

			<div class="col-6 col-xl-2">
			<h2 class="mb-0 site-logo text-white d-flex text-uppercase" id="quant">Quant<b><span class="text-primary">tine.</span></b></h2>
			</div>

			<div class="col-12 col-md-10 d-none d-xl-block">
				<nav class="site-navigation position-relative text-right" role="navigation">

					<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
						<% if user_signed_in? || admin_signed_in? %>
						<% if current_admin %>
						<li class="nav-item">
							<%= link_to "Dashboard", admin_path(current_admin.id), :class => "nav-link btn btn-outline-primary" %>
						</li>
						<li class="nav-item">
							<%= link_to "Se déconnecter", destroy_admin_session_path, class: "nav-link", :method => :delete %>
						</li>
						<% elsif current_user %>
						<li class="nav-item">
							<%= link_to "Profil",  user_profile_path(current_user.id,current_user.profile.id), :class => "nav-link btn btn-outline-primary" %>
						</li>
						<li class="nav-item">
							<%= link_to "Se déconnecter", destroy_user_session_path, class: "nav-link", :method => :delete %>
						</li>
						<% end %>
						<% else %>
						<li class="nav-item">
							<%= link_to "Créer un compte", new_user_registration_path, class: "nav-link btn btn-outline-primary", 'data-toggle' => "modal", 'data-target' => "#modalSignup" %>
						</li>
						<li class="nav-item">
							<%= link_to 'Élève', new_user_session_path, class: "nav-link", 'data-toggle' => "modal", 'data-target' => "#modalLogin" %>
						</li>
						<li class="nav-item">
							<%= link_to 'Admin', new_admin_session_path, class: "nav-link", 'data-toggle' => "modal", 'data-target' => "#modalAdmin" %>
						</li>
						<% end %>

					</ul>
				</nav>
			</div>
		</div>
	</div>
<%= render 'partials/flash' %>
</header>

<%= render 'profiles/registrations/new' %>
<%= render 'profiles/sessions/new' %>
<%= render 'admins/sessions/new' %>





