<nav class="site-navbar py-4 js-sticky-header site-navbar-target navbar-fixed-top banner" role="banner">
  <%= render 'devise/registrations/edit' %>
  <%= render 'devise/registrations/new' %>
  <%= render 'devise/sessions/new' %>

  <div class="container">
    <div class="row align-items-center">

      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo" style="color:white;">Quanttine</h1>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">

          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
            <li><%= link_to 'Sign up', new_user_registration_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalSignup" %></li>
            <li><%= link_to 'Log in', new_user_session_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalLogin" %></li>
            <li><%= link_to 'Edit', edit_user_registration_path, class: "collapse-item", 'data-toggle' => "modal", 'data-target' => "#modalEdit" %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

</nav>


