<div class="site-wrap">
	
<%= render 'header' %>
<%= render 'banner' %>
<%= render 'about' %>
<%= render 'value_proposition' %>
<%= render 'how_it_works' %>
<%= render 'differenciation' %>
<%= render 'contact_us' %>
<%= render 'blog' %>
<%= render 'footer' %>

</div>


