<div id="wrapper">
	<%= render 'admins/side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'admins/top_bar' %>
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold">Liste des menus</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Nom</th>
									<th>Catégorie</th>
									<th>Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @school_meals.each do |school_meal| %>
								<% school_meal.servings.each do |serving| %>
								<tr>					
									<td><%= serving.food_supply.name %></td>
									<td><%= serving.meal_category %></td>
									<td><%= school_meal.date.strftime("%d-%m-20%y") %></td>
									<td><%= link_to "", admin_serving_path(current_admin, serving), method: :delete, class: "fas fa-trash-alt text-secondary"%></td>
								</tr>
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>