<div id="wrapper">
	<%= render 'admins/side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'admins/top_bar' %>
		<%= render 'partials/flash' %>
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-6">
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold">Ajouter au menu du lendemain <span class="badge badge-primary"><%= Date.tomorrow.strftime("%d/%m/%Y") %></span>
									<div class="help" style="padding-left: 73px;">
										<span><i class="fas fa-question-circle"></i></span>
										<div class="help-content">
											<p>
												Choisissez 4 entrées, 4 plats, 4 accompagnements et 4 desserts.<br /><br />
												<i class="fas fa-exclamation-triangle"></i> Un aliment ne peut être choisi plusieurs fois !
											</p>
										</div>
									</div>
								</h6>
							</div>
							<div class="card-body">
								<div class="field form-group">
									<%= form_tag url_for(controller: 'servings', action: 'create'), method: 'post', remote: true do %>
									<%= select_tag :meal_category, options_for_select(serving_list), prompt: "Catégorie", class: "form-control" %>
									<br />
									<%= select_tag :food_supply, options_for_select(food_supply_list), prompt: "Aliment", class: "form-control" %>
									<br />
									<%= submit_tag "Ajouter", class: "btn btn-primary form-control" %>
									<% end %>
								</div>
							</div>
						</div>						
						<div class="card shadow mb-4">
							<a href="#collapseDelete" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
								<h6 class="m-0 font-weight-bold text-secondary">Afficher le bouton supprimer</h6>
							</a>
							<div class="collapse" id="collapseDelete">
								<div class="card-body">
									<%= link_to "Supprimer le menu", admin_school_meal_path(current_admin, school_meal), class: "btn btn-danger form-control text-white", style: "text-decoration: none;",method: :delete, data: {confirm: "Le menu est sur le point d'être supprimé, êtes-vous sûr(e) ?"}  %>
								</div>
							</div>
						</div>

					</div>
					<div class="col-lg-6">

						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold">Entrées ( <span class="badge badge-primary" id="counter-entree"><%= servings_count_per_category("entrée") %></span> /4)</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Nom</th>
												<th>Catégorie</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="menu-entree">
											<% @servings.each do |serving| %>
											<% if serving.meal_category == "entrée" %>	
											<tr id="menu<%= serving.id %>">					
												<td><%= serving.food_supply.name %></td>
												<td><%= serving.meal_category %></td>
												<td><%= link_to "", admin_serving_path(current_admin, serving), method: :delete, remote: true, class: "fas fa-trash-alt text-secondary"%></td>
											</tr>
											<% end %>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold">Plats ( <span class="badge badge-primary" id="counter-plat"><%= servings_count_per_category("plat") %></span> /4) </h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Nom</th>
												<th>Catégorie</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="menu-plat">
											<% @servings.each do |serving| %>
											<% if serving.meal_category == "plat" %>
											<tr id="menu<%= serving.id %>">
												<td><%= serving.food_supply.name %></td>
												<td><%= serving.meal_category %></td>
												<td><%= link_to "", admin_serving_path(current_admin, serving), method: :delete, remote: true, class: "fas fa-trash-alt text-secondary"%></td>
											</tr>
											<% end %>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold">Accompagnements ( <span class="badge badge-primary" id="counter-accompagnement"><%= servings_count_per_category("accompagnement") %></span> /4) </h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Nom</th>
												<th>Catégorie</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="menu-accompagnement">
											<% @servings.each do |serving| %>
											<% if serving.meal_category == "accompagnement" %>
											<tr id="menu<%= serving.id %>">
												<td><%= serving.food_supply.name %></td>
												<td><%= serving.meal_category %></td>
												<td><%= link_to "", admin_serving_path(current_admin, serving), method: :delete, remote: true, class: "fas fa-trash-alt text-secondary"%></td>
											</tr>
											<% end %>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold">Desserts ( <span class="badge badge-primary" id="counter-dessert"><%= servings_count_per_category("dessert") %></span> /4)</h6>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Nom</th>
												<th>Catégorie</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="menu-dessert">
											<% @servings.each do |serving| %>
											<% if serving.meal_category == "dessert" %>
											<tr id="menu<%= serving.id %>">
												<td><%= serving.food_supply.name %></td>
												<td><%= serving.meal_category %></td>
												<td><%= link_to "", admin_serving_path(current_admin, serving), method: :delete, remote: true, class: "fas fa-trash-alt text-secondary"%></td>
											</tr>
											<% end %>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
