  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="login-title">Connexion Admin</h2>
      </div>

      <div class="modal-body">
        <%= form_for(resource_admin, as: resource_name_admin, url: session_path(resource_name_admin)) do |f| %>

        <div class="form-inputs">
          <div class="field">
            <div class="input-container">
              <i class="fas fa-at icon1"></i>
              <%= f.email_field :email, class: "form-control input-field writing", autofocus: true, autocomplete: "email", placeholder: "Email" %>
            </div>
          </div>

          <br />

          <div class="field">
            <div class="input-container">
              <i class="fas fa-lock icon1 "></i>
              <%= f.password_field :password, class: "form-control input-field writing", autocomplete: "current-password", placeholder: "Mot de passe" %>
            </div>
          </div>

          <br />

          <% if devise_mapping_admin.rememberable? %>
          <div class="field custom-control custom-checkbox">
            <%= f.check_box :remember_me, class: "custom-control-input" %>
            <%= f.label :remember_me, class: "custom-control-label" %>
          </div>
          <% end %>

          <br />

          <%= link_to "Mot de passe oublié ?", new_admin_password_path, class: "text-black" %>
        </div>

      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.submit "Se connecter", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
