<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="login-title">Log in</h2>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>


      <div class="modal-body">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-inputs">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
          <div class="field custom-control custom-checkbox">
            <%= f.check_box :remember_me, class: "custom-control-input" %>
            <%= f.label :remember_me, class: "custom-control-label" %>
          </div>
          <% end %>

        </div>

      </div>

      <div class="modal-footer">
        <div class="form-actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
        <% end %>


      </div>
    </div>
  </div>
</div>