<div id="wrapper">
	<%= render 'admins/side_bar' %>
	<div id="content-wrapper" class="d-flex flex-column">
		<%= render 'admins/top_bar' %>
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold">Commande des élèves</h6>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-paging" id="quantityTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th>Prénom</th>
									<th>Nom</th>
									<th>Commande</th>
									<th>Catégorie</th>
									<th>Date</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @preparing_user_meals.each do |preparation| %>
								<% 	if preparation.user_meal.profile.school == current_admin.school %>
								<tr id="preparation<%= preparation.id %>">
									<td><%= preparation.user_meal.profile.user.first_name %></td>
									<td><%= preparation.user_meal.profile.user.last_name %></td>
									<td><%= preparation.serving.food_supply.name %></td>
									<td><%= preparation.serving.meal_category %></td>		
									<td><%= preparation.serving.school_meal.date.strftime("%d-%m-%Y") %></td>	
									<td><%= link_to "", admin_preparing_user_meal_path(current_admin, preparation), method: :delete, remote: true, class: "fas fa-trash-alt text-secondary"%></td>
								</tr>
								<% end %>
								<% end %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>