<body class="bg-gradient-primary forget-password">

	<div class="container">

		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block forget-password-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
										<%= render "devise/shared/error_messages", resource: resource %>
										<h1 class="h4 text-gray-900 mb-2">Mot de passe oublié? Pas de panique!</h1>
										<p class="mb-4">Entrez l'adresse email avec laquelle vous vous êtes inscrit. Nous allons vous envoyer un email avec un lien pour réinitialiser votre mot de passe.</p>
									</div>
									<form class="user">
										<div class="form-group">
											<div class="field">
												<%= f.label :email %><br />
												<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "mail@exemple.com", class: "form-control" %>
											</div>
										</div>
										<div class="actions">
											<%= f.submit "Envoyer", class: "btn btn-primary btn-user btn-block" %>
										</div>
										<% end %>
									</form>
									<hr>
									<div class="text-center">
										<%= link_to 'Se connecter', new_user_session_path, class: "nav-link nav-link-home", 'data-toggle' => "modal", 'data-target' => "#modal" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</div>
	<%= render 'users/sessions/new' %>
</body>


