<%= render 'top_bar' %>

<div class="daily-title">
<h1 class="service">Service du Jour</h1>
<h3><%= current_admin.school.name %></h3><br>
</div>


<table class="table daily-table">
  <thead class="thead text-white">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Prénom</th>
      <th scope="col">Nom</th>
      <th scope="col">Menu</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @daily_service.queue.each_with_index do |profile_id, index| %>
    <% profile = Profile.find(profile_id) %>
    <tr  class="daily-row" id="number<%= index %>">
      <th scope="row"><%= profile.id %> </th>
      	<td><%= profile.user.first_name %><br></td>
     	<td><%= profile.user.last_name.upcase %></td>
      	<td><% profile.user_meals.last.servings.each do |serving| %>
				- <%= serving.food_supply.name %><br>
			<% end %></td>
		<td class="col-icon">
      <%= link_to "Servi",  admin_daily_service_path(current_admin, @daily_service, index: index), method: "put", remote: true, class: "btn btn-secondary" %>
    </td>

    </tr>
    <% end %>
  </tbody>
</table>
