<footer class="footer-colored">
  <br/>
<div class="footer-content">
  <div>
  <p class="footer-links">
    <%= link_to "Camille", "https://github.com/CamilleRungette/" %>
    路
    <%= link_to "Ryan", "https://github.com/ryanzidago/" %>
    路
    <%= link_to "Sylvain", "https://github.com/LKF92/" %>
    路
    <%= link_to "Romain", "https://github.com/Ramoin/" %>
    路
    <%= link_to "Steven", "https://github.com/vxnsteven/" %>
  </p>
</div>

  <p class="footer-company-name">Quanttine  &copy; 2019</p>
</div>
</footer>