<div class="modal fade" id="modalSignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="login-title">S'incrire</h2>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>

      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-inputs">

          <div class="field form-group">

            <%= f.label :prénom %><br />
            <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :first_name, class: "form-control input-field writing", autofocus: true, autocomplete: "first_name", placeholder: "" %>
          </div>
          </div>  

          <div class="field form-group">

            <%= f.label :nom %><br />
            <div class="input-container">
              <i class="fas fa-user icon1"></i>
            <%= f.text_field :last_name, class: "form-control input-field writing", autocomplete: "last_name", placeholder: ""%>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label :email, 'Email' %><br />
            <div class="input-container">
            <i class="fas fa-at icon1"></i>
            <%= f.email_field :email, class: "form-control input-field writing", autocomplete: "email", placeholder: "" %>
          </div>
          </div>          

          <div class="field form-group">

            <%= f.label "Mot de passe" %>

            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, class: "form-control input-field writing", autocomplete: "new-password" %>
          </div>
          </div>

          <div class="field form-group">
            <%= f.label "Confirmer le mot de passe" %><br />
            <div class="input-container">
              <i class="fas fa-lock icon1"></i>
            <%= f.password_field :password_confirmation, class: "form-control input-field writing", autocomplete: "new-password" %>
            </div>
          </div>           

            <div class="field form-group">
            <%= f.label "Code école" %><br />
            <div class="input-container">
              <i class="fas fa-school icon1"></i>
            <%= f.text_field :school_code, class: "form-control input-field writing", autocomplete: "code", placeholder: "" %>
          </div>
          </div>  

        </div>
      </div>
      <div class="modal-footer">
        <div class="form-actions">

          <%= f.submit "S'inscrire", class: "btn btn-primary" %>

        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>



